Buoi2/Cau2/letter.dtd

<!ELEMENT letter (#PCDATA | customer | order | manager)*>

<!ELEMENT customer (#PCDATA)>

<!ELEMENT order (item+)>
<!ATTLIST order num CDATA #REQUIRED>

<!ELEMENT item (code, description)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!ELEMENT manager (#PCDATA | title)*>
<!ELEMENT title (#PCDATA)>