Buoi3/Cau1/matches.dtd

<!ELEMENT matches (match+)>

<!ELEMENT match (score, teams, events)>

<!ELEMENT score (#PCDATA)>

<!ELEMENT teams (home, away)>
<!ELEMENT home (#PCDATA)>
<!ELEMENT away (#PCDATA)>

<!ELEMENT events (event+)>
<!ELEMENT event (minute, player, team?)>

<!ATTLIST event type (goal | yellow | red) #REQUIRED
                penalty (yes | no) "no"
>

<!ELEMENT minute (#PCDATA)>
<!ELEMENT player (#PCDATA)>
<!ELEMENT team (#PCDATA)>
